.card{
    background-color: var(--white);
    padding: .7rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    box-shadow: 0px 10px 20px rgba(114, 113, 113, 0.25);
    border-radius: 8px;
    height: 3rem;

}

.icon{
display: flex;
   justify-content:center;
   align-items: center;
   gap: .6rem;
   
}

.card{
    background-color: rgba(48, 161, 217, 0.177);
}

.card input{
    border: none;
    background-color: rgba(144, 216, 232, 0.054);

}

.completedCard{
    background-color: rgba(98, 233, 161, 0.216);
}

.taskDone {
    text-decoration: line-through;
    background-color: rgba(131, 229, 149, 0.284);
}