.home{
    color:blue
}

.createTask input{
width: 70%;
text-decoration: none;
border: none;
padding: .7rem;
border-radius: 5px 0 0 5px ;
background-color: rgba(55, 56, 56, 0.054);

}

.createTask button{
    width: 30%;
    padding: .7rem;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 0 5px 5px 0;
}

.createTask{
    margin: 2rem 0;
}

.filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
}

.finish, .progress{
  background-color: var(--white);
  padding: .5rem;
  width: 45%;
  font-size: 1.1rem;  
}

.finish{
    color: var(--secondary);
}

.progress{
    color: var(--primary);
}

@media (max-width: 768px) {
    .createTask input,
    .createTask button,
    .finish,
    .progress {
        width: 100%;
    }
}